.logohead{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color:white;
    margin-top: 10px;
}
.navbg{
    background-color: #1B1B1B;
    padding: 30px 0px;
}
.navbar{
    padding-left: 50px;
}
.form-control {
    padding: 0.2rem 0.6rem;
    background-color: #313131;
    border: none;
    margin-top: 3px;
    border-radius: 10px;
    color: white;
}
.form-select {
    padding: 0.7rem 0.6rem;
    background-color: #313131;
    border: none;
    color: white;
}
.form-select::placeholder {
    color: #858585;
}
.form-control::placeholder {
    color: #858585;
}
.btn-outline-success {
    border: none;
    margin-left: -50px;
}
.btn-outline-success:hover {
    background-color: transparent;
}
.iconheaderform{
    color: #7A7A7A;
    font-size: 17px;
}
.navbar-toggler{
    border: 1px solid #1b1b1b00;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-link {
    margin: 5px 10px;
}
.justify{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vertalign{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .btn-outline-success {
        border: none;
        margin-left: -30px;
        padding: 0px;
    }
    .navbar{
        padding: 0px;
    }
    .logohead{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }
    .nav-link {
        font-size: 10px;
    }
  }
  .admin-profile {
    display: flex;
    align-items: center;
    padding: 10px;

    border-radius: 8px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 10px;
  }
  
  .profile-name {
    font-weight: bold;
    color: #4C4C4C;
  }
  
  .profile-role {
    font-size: 14px;
    color: gray;
  }
  
  .bell-icon {
    margin-left: 25px;
    font-size: 25px;
    color: #555;
    cursor: pointer;
  }
  
  