* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  background-color: #1A1F38;
}
.iconsizing{
  font-size: 20px;
}
.flex-column{
  padding-top: 0px;
}
.nav-link {
  margin: 5px;
}
.form-label {
  margin-bottom: 0.5rem;
  color: #4f4f4f;
}
.h-100 {
  min-height: 100vh;
}
.sidebar .col {
  padding: 0;
}
@media (max-width: 767px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
.sidebar .col:first-child {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
  color: #808080;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.sidebar .nav-link:hover {
  background-color: #2a7741;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.sidebar .active .nav-link {
  background-color: #007bff;
  color: #fff;
}

.sidebar .active .nav-link:hover {
  background-color: #0062cc;
  color: #fff;
  text-decoration: none;
}
.sidebar .nav-link .dashboard-text {
  margin-left: 10px;
  margin-top: 4px;
}
.settings {
  margin-top: 70px;
}
.card_style {
  padding: 32px 10px 3px 16px;
}
.league-text {
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Roboto";
}
.nav-linkSubitem {
  color: #808080;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
}
.nav-linkSubitem :hover {
  color: white;
}
.subMenuhide {
  overflow: hidden;
  max-height: 1px;
  transition: max-height 1s ease;
}

.subMenushow {
  max-height: 500px;
  transition: max-height 1s ease;
}
