
.table_button{
font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: black;
    text-align: center;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    padding: 11px 14px 11px 13px;
    background-color: rgba(42, 119, 65, 1);
    color: white;
    margin-right: 7px;
}
.modal-content{
    background-color: #101323 !important;
}
.modal-footer{
  
    border-top: #101323 !important;
}